.App {
  min-height: 100vh;
  background: url('./imgs/catalina_day.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
